/* color definitions
	FFFBF9 : Background
	333232 : Dark grey accent
	DFE5DF : light green
	C0CBC0 : mid green
	5B866F : Dark Green */ 

body{
	background-color: FFFBF9;
}

/* Nav bar */
.nav-ef{
	font-family: 'Playfair';font-size: 22px;
	letter-spacing: .2rem;

}

.nav-link{
	font-family: 'Lato';
}