/* -------------------------Colors --------------------
	#FFFBF9 : Background
	#333232 : Dark grey accent
	#DFE5DF : light green
	#C0CBC0 : mid green
	#5B866F : Dark Green 
	-----------------------------------------------------*/ 

body{
	background-color: #FFFBF9;}

h1{
	font-size: 96px;
	font-family: 'Playfair Display';
	text-align: center;
	padding: 0px 0px 50px;
}
h2{
	background-color: #333232;
	padding: 3px;
	font-size: 40px;
	font-family: 'Playfair Display';
	color: #FFFBF9;
}

h3{
	padding: 3px;
	font-size: 40px;
	font-family: 'Playfair Display';
}

p{
	font-size: 20px;
	font-family: 'Lato';
	
}

a{
	text-decoration: none;
	color: inherit;}

#red{
	background-color: pink;
}
#blue{
	background-color: lightblue;
}
#orange{
	background-color: orange;
}

a.ul:hover{
	text-decoration: underline;
}

/* ------------------------Nav bar----------------------- */
.nav-ef{
	font-family: 'Playfair Display';font-size: 40px;
	letter-spacing: .2rem;
	float: left;}
#nav-list{
	padding: 10px 0px;
	font-size: 20px;
	font-family: 'Lato'}
.nav-text{
	font-size: 20px;
	float: right;
	list-style-type: none;}
a.nav-link{
	font-size: 20px;
	padding: 5px 15px;
	float: right;}
a.nav-link:hover{
	font-size: 20px;
	background-color: #C0CBC0;}
header{
	padding: 30px 0px 30px 0px;
	height: 120px;}

/* -----------------box on the home page---------------*/
#home-page-box{
	background-color: #DFE5DF;
}
#home-page-box-h {
	font-size: 64px;
	font-family: 'Playfair Display';
	text-align: center;
	padding: 0px 40px;
	color: black;}
#home-page-box-p {
	font-size: 24px;
	font-family: 'Lato';
	text-align: center;
	padding-top: 30px;}
#home-page-box-top{
	height: 170px;}
/* ------------------Footer------------------------------*/
footer{
	padding: 20px 0px;
}

/*test*/
#footer-h{
	background-color: #DFE5DF;
	font-size: 24px;
	font-family: 'Playfair Display';
	padding-top: 5px;
}
#footer-ul{
	padding: 10px 30px 0px 0px;
	
}
/*padding: 5px 133.5px;*/

.footer-link{
	background-color: #DFE5DF;

}
#footer-space{
	background-color: #DFE5DF;
	
}

.footer-text{
	list-style-type: none;
	
	background-color: #333232;
	padding: 5px 15px 5px 15px;
	margin: 0px 5px 0px 5px;
	border-radius: 20px;
	font-family: 'Lato';
	font-size: 20px;
	display: inline-block;
}

.footer-link{
	background-color: #333232;
	color: #FFFBF9;
}

#footer-top-bottom{
	height: 20px;
}

/*------------------------Projects--------------------*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.p-img{
	width: 100%;
}
.p-imgc{
  max-width: 630px;
  margin: auto;
  border: 3px solid #73AD21;
}
a.green-link{
	color: #5B866F;
	text-decoration: underline;
	font-family: 'Lato';
	font-size: 16px;
}
a.green-link:hover{
	text-decoration: underline;
}

.project-spacer{
	height: 30px;
}
/*------------------Contact------------------------------*/
a#linkedin{
	color: #5B866F;
	text-decoration: none;
}

a#linkedin:hover{
	text-decoration: underline;
}

.contact-spacer{
	height: 0px;
}

#contact-page-box-h{
	font-size: 96px;
	font-family: 'Playfair Display';
}














